header {
    background-color: darkgrey;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    height: 150px;
    z-index: 1;
}

.headers {
  float: left;
}

main {
    margin-top: 150px;
}

table{
    border: 1px solid;
    border-spacing: inherit;
}

td {
    border: 1px solid cadetblue;
    width: auto;
}

td div {
    padding: 4px;
}

th {
    border-width: 1px;
    border-style: solid;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "DejaVu Sans";
}

tr {
    border-width: medium;
    border-color: green;
    width: auto;
}

p {
    font-family: "Fira Code";
}

.image {
    width: 150px;
    height: 150px;
    float: right;
}

.image img {
    width: 150px;
    height: 150px;
}

.exp {
    position: relative;
}

.exp-date {
    position: absolute;
    top: -15px;
    right: 5px;
}