<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Layout</title>
</head>
<body>
    <header>
        <button></button>
        <section>
            <h1>Portofolio</h1>
            <h2>Hi, It’s Théophile Seyrig</h2>
            <h3>Designer from Porto, Portugal</h3>
            <a href="">Latest works</a>
        </section>
    </header>

    <main>
        <section class="about">
            <h3>About</h3>
            <section class="about__text">
                <p>Lorem ipsum dolor sit amet, Arcu, sed nisi, mi, arcu libero phasellus tincidunt.
                    Rhoncus, diam penatibus aliquet tellus, in rutrum augue.
                    Pellentesque senectus risus consectetur et sed purus sed.
                    Consectetur adipiscing elit.
                    Egestas porttitor nulla nulla egestas odio pharetra egestas aliquet mollis.</p>
                <p>Arcu, sed nisi, mi, arcu libero phasellus tincidunt.
                    Rhoncus, diam penatibus aliquet tellus, in rutrum augue.
                    Pellentesque senectus risus consectetur et sed purus sed.
                    Consectetur adipiscing elit.
                    Egestas porttitor nulla nulla egestas odio pharetra egestas aliquet mollis.
                    diam penatibus aliquet tellus, in rutrum augue.
                    Pellentesque.</p>
            </section>
        </section>
        <section class="skills">
            <h3>Skills</h3>
            <img src="img/Profile%20Picture.png" alt="Profile Picture">
            <section class="skills__points">
                <h5>Profile</h5>
                <p>UI / UX Engineer, Front-end Developer</p>
            </section>
            <section class="progress-block">
                <section>
                    <section class="skills__points">
                        <h5>Front-end Dev</h5>
                        <div class="progress_max"><div class="front-end__progress_value"></div></div>
                    </section>
                    <section class="skills__points tools">
                        <h5>Tools</h5>
                        <p>HTML, CSS, JS, Bootstrap, React</p>
                    </section>
                </section>
                <section>
                    <section class="skills__points tools">
                        <h5>UI Design</h5>
                        <div class="progress_max"><div class="design__progress_value"></div></div>
                    </section>
                    <section class="skills__points">
                        <h5>Tools</h5>
                        <p>Adobe PS, AI, XD, Figma, InVision</p>
                    </section>
                </section>
                <section>
                    <section class="skills__points">
                        <h5>UX Research</h5>
                        <div class="progress_max"><div class="research__progress_value"></div></div>
                    </section>
                    <section class="skills__points tools">
                        <h5>Tools</h5>
                        <p>Paper, Pen, Balsamiq</p>
                    </section>
                </section>
            </section>
        </section>
        <section class="portfolio">
            <h3>Portfolio</h3>
            <h4>UX Research</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <br>Ac dictum nibh nam odio cursus id. Diam massa<br>
                semper a tincidunt cursus ultricies lectus eget urna.</p>
            <section class="portfolio__collage">
                <section>
                    <img src="img/pic1.png" alt="pic1" class="pic1">
                    <img src="img/pic3.png" alt="pic3" class="pic3">
                </section>
                <section>
                    <img src="img/pic2.png" alt="pic2" class="pic2">
                    <img src="img/pic4.png" alt="pic4" class="pic4">
                </section>
            </section>
        </section>
    </main>

    <footer>
        <h3>Get in Touch</h3>
        <section class="links">
            <section class="portfolio__links">
                <a href="">Dribbble</a>
                <a href="">Behance</a>
                <a href="">CodePen</a>
                <a href="">GitHub</a>
                <a href="">Medium</a>
            </section>
            <section class="social-network__links">
                <a href="">LinkedIn</a>
                <a href="">Facebook</a>
                <a href="">Instagram</a>
                <a href="">Twitter</a>
            </section>
        </section>
        <section class="contacts">
            <a href="mailto: seyrig@mailme.com" class="email">seyrig@mailme.com</a>
            <br>
            <a href="tel: +556645665544" class="phone">+55 6645 665544</a>
        </section>
    </footer>
    <button class="to-top-btn">^</button>
</body>
</html>