* {
    margin: 0;
    font-family: 'Libre Franklin';
    box-sizing: border-box;
}

header {
    background: linear-gradient( rgba(198, 108, 73, 0.4), rgba(198, 108, 73, 0.4)), url("img/bg.png");
    min-width: 373px;
    height: 275px;
    margin-top: 2px;
    margin-right: 2px;
    position: relative;
}

header nav {
    display: flex;
    padding-top: 40px;
    padding-left: 34px;
    justify-content: center;
}

header button {
    position: absolute;
    top: 39px;
    left: 34px;
    width: 24px;
    height: 24px;
    border: 0;
    padding: 0;
    /*font-family: Segoe MDL2 Assets;*/
    font-size: 24px;
    line-height: 24px;
    color: white;
    background: transparent;
}

header h1 {
    margin-left: -35px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: white;
}

header section {
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

header ul {
    list-style-type: none;
    display: none;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

header h2 {
    margin-top: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: white;
}

header h3 {
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: white;
}
header a {
    margin-top: 40px;
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: white;
}

main, footer {
    min-width: 375px;
    background: #FFFAF2;
}

main h3 {
    margin-left: -5px;
    padding-top: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.about {
    height: 293px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__text {
    width: 312px;
    height: 190px;
    margin-top: 20px;
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
    color: #333333;
}

.skills {
    height: 617px;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills img {
    margin-top: 25px;
    margin-left: 38px;
    width: 224px;
    height: 218px;
}

.skills h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
}

.skills p {
    width: 211px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
}

.progress-block {
    margin-top: 25px;
    height: 269px;
    width: 310px;
    display: flex;
    flex-direction: column;
}

.skills__profile {
    margin-top: -2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills__points {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skills__point {
    height: 29px;
    width: 310px;
    padding-bottom: 39px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.progress_max {
    margin-top: 5px;
    width: 210px;
    height: 18px;
    background-color: #F5D6AB;
}

.front-end__progress_value {
    width: 135px;
    height: 100%;
    background-color: #C66C49;
}

.design__progress_value {
    width: 165px;
    height: 100%;
    background-color: #C66C49;
}

.research__progress_value {
    width: 179px;
    height: 100%;
    background-color: #C66C49;
}

.portfolio {
    min-width: 375px;
    height: 404px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio h4 {
    margin-top: 20px;
    margin-left: -7px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
}

.portfolio p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

.portfolio>section {
    margin-top: 14px;
}

.portfolio__collage {
    margin-top: 26px;
    width: 308px;
    height: 196px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio__collage_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h3 {
    margin-top: 25px;
    align-self: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.links {
    margin-top: 25px;
    margin-left: 11%;
    min-width: 375px;
    display: flex;
    align-items: baseline;
}

.portfolio__links, .social-network__links {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio__links {
    height: 161px;
}

.social-network__links {
    height: 125px;
}

footer a {
    text-decoration: none;
    color: #333333;
}

.links a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.contacts {
    margin-top: 30px;
}

.email {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.phone {
    margin-top: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

.to-top-btn {
    position: fixed;
    width: 24px;
    height: 24px;
    right: 32px;
    bottom: 58px;
}




/********************************************/
/*****************FOR Laptop*****************/
/********************************************/

@media screen and (min-width: 1440px) {
    body {
        min-width: 1440px;
    }

    header {
        width: 1440px;
        min-height: 768px;
        background: linear-gradient( rgba(198, 108, 73, 0.4), rgba(198, 108, 73, 0.4)), url("img/bg-laptop.png") no-repeat;
        background-size: cover;
    }

    header button {
        display: none;
    }

    header nav {
        margin-right: auto;
        margin-left: auto;
        padding-top: 93px;
        width: 1109px;
        height: 29px;
        display: flex;
        justify-content: space-between;
    }

    header ul {
        width: 568px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header section {
        align-items: flex-start;
        margin-top: 125px;
        margin-left: 165px;
    }

    header h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 78px;
    }

    header h3 {
        margin-top: 22px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
    }

    header a {
        margin-top: 106px;
        margin-left: 12px;
        font-size: 18px;
        line-height: 22px;
    }

    main, footer {
        width: 1440px;
    }

    main h3 {
        margin: 0 0 86px;
        padding-top: 93px;
        font-weight: bold;
    }

    .about, .skills, .portfolio {
        padding-left: 165px;
    }

    .about p, .portfolio p {
        font-size: 18px;
        line-height: 167%;
    }

    .about {
        height: 544px;
        justify-content: normal;
        align-items: flex-start;
    }

    .about h3 {
        margin:0 0 76px;
    }

    .about__text {
        margin: 0;
        width: 1107px;
    }

    .skills {
        height: 693px;
        flex-flow: column;
        align-items: flex-start;
    }

    .skills h5, .skills p {
        font-size: 18px;
        line-height: 139%;
    }

    .skills p {
        width: 446px;
    }

    .skills img {
        margin: 0;
        width: 350px;
        height: 340px;
    }

    .skills>section {
        width: 1110px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .progress-block {
        margin: 0;
        align-self: flex-end;
        width: 635px;
        height: 340px;
    }

    .skills__points {
        margin-top: 63px;
        flex-flow: column-reverse;
    }

    .skills__point {
        width: 635px;
        padding-bottom: 45px;
    }

    .progress_max {
        width: 446px;
        height: 24px;
    }

    .research__progress_value {
        width: 381px;
    }

    .design__progress_value {
        width: 351px;
    }

    .front-end__progress_value {
        width: 286px;
    }

    .portfolio {
        height: 822px;
        align-items: flex-start;
    }

    .portfolio h4 {
        margin-top: 0;
        margin-left: 4px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
    }

    .portfolio>section {
        height: 403px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
}